.relative {
    position: relative;
}

.sticky {
    position: sticky;
    top: 0;
}

.flex {
    display: flex;
    flex-wrap: wrap
}

.center {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.justify-start {
    justify-content: flex-start !important;
}

.justify-center {
    justify-content: center
}

.justify-end {
    justify-content: flex-end !important;
}

.align-center {
    align-items: center
}


.thumb_img {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
}

.thumb_3x1 {
    padding-bottom: 33.33%;
}

.thumb_2x1 {
    padding-bottom: 50%;
}

.thumb_img.thumb_video,
.embed-container {
    padding-bottom: 56.25%;
}

.thumb_img.thumb_5x3 {
    padding-bottom: 60%;
}

.thumb_5x4 {
    padding-bottom: 92%;
}

.thumb_2x3 {
    padding-bottom: 150%;
}

.thumb_img.thumb_5x5,
.thumb_1x1 {
    padding-bottom: 100%;
}

.thumb_img,
.thumb_video,
.thumb_16x9 {
    img,
    video,
    iframe {
        -o-object-position: top;
        object-position: top;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .play-video {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='64' height='64' viewBox='0 0 64 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='64' height='64' rx='32' fill='%23020617' fill-opacity='0.32'/%3e%3crect x='0.5' y='0.5' width='63' height='63' rx='31.5' stroke='white' stroke-opacity='0.32'/%3e%3cpath d='M46 31.9996C46.0008 32.3392 45.9138 32.6732 45.7473 32.9691C45.5808 33.265 45.3406 33.5128 45.05 33.6884L27.04 44.7059C26.7364 44.8918 26.3886 44.9933 26.0326 44.9999C25.6766 45.0065 25.3253 44.918 25.015 44.7434C24.7076 44.5715 24.4516 44.3209 24.2732 44.0173C24.0948 43.7137 24.0005 43.368 24 43.0159V20.9834C24.0005 20.6313 24.0948 20.2856 24.2732 19.982C24.4516 19.6784 24.7076 19.4278 25.015 19.2559C25.3253 19.0813 25.6766 18.9928 26.0326 18.9994C26.3886 19.006 26.7364 19.1075 27.04 19.2934L45.05 30.3109C45.3406 30.4865 45.5808 30.7343 45.7473 31.0302C45.9138 31.3261 46.0008 31.6601 46 31.9996Z' fill='%23FEFEFE'/%3e%3c/svg%3e");
        width: 40px;
        height: 40px;
        background-size: contain;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

input {
    outline: 0
}

input[type="number"] {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.button {
    &.pink {
        background: #ff0063;
        color: #fff;
    }
}

.scroll-height {
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 4px;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(217, 217, 217, 0.3);
        width: 6px;
        border-radius: 52px;
    }
}

#to_top {
    width: 30px;
    height: 30px;
    background: #2f2f2f;
    line-height: 30px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    right: 20px;
    color: #fff;
    z-index: 9;
}


[class*='grid__'] {
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    .art_item {
        margin-bottom: 0;
    }
}

.grid {
    display: grid;
    width: 100%;
    position: relative;
    .article-itemt {
        margin-bottom: 0;
    }
    &__1 {
        grid-template-columns: repeat(1, 1fr);
    }
    &__2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &__3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &__4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &__5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &__6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &__7 {
        grid-template-columns: repeat(7, 1fr);
        column-gap: 8px;
        row-gap: 8px;
    }
    @media (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        &__1 {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    @media (max-width: 600px) {
        &.m_grid {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.gap_2 {
    column-gap: 2px!important;
    row-gap: 2px!important;
}

.gap_5 {
    column-gap: 5px!important;
    row-gap: 5px!important;
}

.gap_10 {
    column-gap: 10px!important;
    row-gap: 10px!important;
}

.gap_16 {
    column-gap: 16px!important;
    row-gap: 16px!important;
}

.gap_20 {
    column-gap: 20px!important;
    row-gap: 20px!important;
}

.gap_30 {
    column-gap: 30px!important;
    row-gap: 30px!important;
}

.bg-agray {
    background: #F4F6F8;
}

.bg-main {
    background: var(--bg-main)!important;
}

.bg-padding {
    background: #F2F2F5;
    padding: 80px 0;
}

.bg-success {
    background-color: #20c997 !important;
}

.bg-danger {
    background: #ff2929 !important;
}

.bg-info {
    background: #62e1fb !important;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}

.padding_30 {
    padding: 30px;
    @media (max-width: 767px) {
        padding: 15px;
    }
}

.padding_40 {
    padding: 40px 0;
}

.padding_48 {
    padding: 48px;
    @media (max-width: 1199px) {
        padding: 24px;
    }
    @media (max-width: 767px) {
        padding: 15px;
    }
}

.padding_insert {
    padding-left: 3.33%;
    padding-right: 3.33%;
}

.padding_80 {
    padding: 80px 0;
}

.social-btn {
    display: flex;
    a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #00234B;
        color: #fff !important;
        font-size: 15px;
        text-align: center;
        line-height: 34px;
        margin-left: 4px;
    }
}


.prepare-live {
    color: #858887;
    display: flex;
    align-items: center;
    gap: 4px;
}

.btn-default {
    display: inline-flex;
    color: var(--colormain);
    border-radius: 6px;
    padding: 0 16px;
    height: 36px;
    font-size: 14px;
    align-items: center;
    gap: 4px;
    justify-content: center;
    background: #F9A826;
    transition: 0.2s all;
    border: 0;
    cursor: pointer;
    span {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 15.9323L12.863 12.0609L9 8.1894L10.1893 7.00012L15.25 12.0609L10.1893 17.1216L9 15.9323Z' fill='%23034C31'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right top -2px;
        border: 0;
        padding: 2px 24px 2px 0;
    }
    &.big {
        font-size: 18px;
        height: 52px;
    }
    &.medium {
        height: 50px;
        font-size: 16px;
    }
    &.full {
        width: 100%;
        padding: 10px 5px;
    }
    &.min {
        padding: 8px 20px;
        font-size: 14px;
    }
    &.bg-white {
        color: #2F80ED;
        border: 1px solid #2F80ED;
    }
    &.bg-main {
        background: var(--colormain)!important;
        color: #fff;
        span {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.70492 6.32227L8.29492 7.73227L12.8749 12.3223L8.29492 16.9123L9.70492 18.3223L15.7049 12.3223L9.70492 6.32227Z' fill='%23FEFEFE'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right top 1px;
        }
    }
    &.bg-before {
        background: #D0EAE2;
        color: var(--colormain);
    }
    &.free {
        background: #27AE60;
        border: 1px solid #27AE60;
    }
    &.none {
        background: none;
        border: 1px solid #034C31;
        &:hover {
            background: #034C31;
            color: #fff;
        }
    }
    &.gray {
        background: #F3F2F3;
        color: #004FC2;
        border: 1px solid #F3F2F3;
    }
    &.active {
        background: var(--colormain);
        color: #fff;
    }
    &.txt_black {
        color: #00091c
    }
    &:focus {
        outline: 0;
    }
    &.disable {
        color: #858887;
        background: none;
        border: 1px solid #DBE2DF;
    }
    @media (max-width: 1199px) {
        &.big {
            font-size: 20px;
        }
    }
    @media (max-width: 991px) {
        padding: 5px 20px;
        &.big {
            font-size: 18px;
        }
    }
    @media (max-width: 600px) {
        &.full-mobile {
            width: 100%;
        }
        &.big {
            font-size: 16px;
            height: 40px;
        }
    }
}

.color_000 {
    color: #000!important
}

.color-orange {
    color: #FF5E57;
}

.color-gray {
    color: #656867
}

.color-gray2 {
    color: #DBE2DF
}

.color-gray3 {
    color: #4E565C
}

.color-main {
    color: var(--colormain);
}

.color-main2 {
    color: #023623;
}

.color-blue {
    color: #0063F7;
}

.color-green {
    color: rgba(52, 208, 88, 1);
}

.color-red {
    color: #D93025;
}

.line-bottom {
    border-bottom: 1px solid rgba(107, 119, 154, 0.15);
}

.line-dashed {
    border-bottom: 1px dashed rgba(107, 119, 154, 0.15);
}

.line-dashed2 {
    border-bottom: 2px dashed rgba(107, 119, 154, 0.15);
}

.tab-default {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-bottom: 3px solid #F1F8F5;
    a {
        display: block;
        font-size: 16px;
        font-weight: 400;
        color: #656867;
        padding: 6px 16px;
        position: relative;
        .sup {
            background: rgba(255, 79, 39, 1);
            padding: 2px 4px;
            position: absolute;
            right: -8px;
            top: -10px;
            color: #fff;
            border-radius: 4px;
            font-size: 11px;
            font-weight: 600;
        }
        &.active {
            color: #00110B;
            &::before {
                content: "";
                background: var(--colormain);
                height: 3px;
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
            }
        }
        &:hover {
            color: inherit;
        }
    }
    &.line-bottom {
        padding-bottom: 20px;
    }
    &.tab-border {
        a {
            background: #F8FBFF;
            border-radius: 93px;
            line-height: 44px;
            font-size: 16px;
            color: #525F7F;
            padding: 0 20px;
            margin-right: 24px;
            &.active {
                background: #00234B;
                color: #fff;
            }
        }
    }
    @media (max-width: 1025px) {
        a {
            font-size: 14px;
            padding: 6px 10px;
        }
    }
    @media (max-width: 767px) {
        display: block;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
        a {
            display: inline-block;
            .sup {
                display: none;
            }
        }
    }
}

.confir_res {
    padding-left: 28px;
    position: relative;
    cursor: pointer;
    display: block;
    color: #4E565C;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .checkmark {
        position: absolute;
        top: 3px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #FFFFFF;
        border: 1px solid #656867;
        box-sizing: border-box;
        border-radius: 4px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 1px;
            width: 5px;
            height: 12px;
            border: solid #222;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
    }
    input:checked~.checkmark:after {
        display: block;
    }
    input:checked~.checkmark~.text {
        color: #034C31;
    }
    input:disabled~.checkmark {
        border: 1px solid #EBEBEB;
    }
    input:disabled~.checkmark:after {
        border: solid #EBEBEB;
        border-width: 0 1px 1px 0;
    }
    &.circle {
        .checkmark {
            border-radius: 50%;
            &:after {
                border: 0;
                width: 16px;
                height: 16px;
                background: #034c31;
                border-radius: 50%;
                left: 1px;
            }
        }
        input:checked~.checkmark {
            border: 1px solid #034C31;
        }
    }
}

.pagination {
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    .page-item {
        margin: 0;
    }
    .page-link {
        border-radius: 4px;
        border: 1px solid #DBE2DF;
        font-size: 16px;
        font-weight: 400;
        color: #656867;
        width: 40px;
        height: 40px;
        text-align: center;
        padding: 0;
        line-height: 38px;
        outline: 0;
        svg {
            width: 15px;
            height: 15px;
        }
        &:hover {
            border-color: #034C31;
            color: #fff;
            background: #034C31;
        }
        &:focus {
            box-shadow: none
        }
    }
    .page-item.active .page-link {
        border-color: #034C31;
        color: #fff;
        background: #034C31;
    }
}

.btn-send {
    background: #00234B;
    border-radius: 4px;
    color: #fff;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 30px;
}

.table-responsive {
    .blue {
        color: #2D5BD1;
    }
    .table {
        thead th {
            border-top: 0;
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            background-color: #034C31;
        }
        th,
        td {
            padding: 10px .75rem;
            font-size: 14px;
            color: #4E565C;
        }
        .content {
            width: 400px;
        }
        tr {
            &:nth-child(2n) {
                td {
                    background: #DBE2DF;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .table {
            th,
            td {
                white-space: nowrap;
            }
        }
    }
}
