// RESET LDP
.title-cate {
    font-size: 24px;
    line-height: 1.4;
    font-weight: 500;
    margin-bottom: 15px;
    br {
        display: none;
    }
    span {
        color: #FF5E57;
    }
    &.txt-20 {
        font-size: 20px;
    }
    &.txt-32 {
        font-size: 32px;
    }
    &.bolb {
        font-weight: bold;
    }
    @media (max-width: 1025px) {
        font-size: 20px;
    }
    @media (max-width: 600px) {
        text-align: center;
        font-size: 16px!important;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 10px;
        color: var(--colormain);
        br {
            display: block;
        }
        span {
            color: #FF5E57;
        }
        &.txt-32 {
            font-size: 24px !important;
            text-transform: none;
            font-weight: 500;
        }
    }
}

.section-padding {
    padding: 0 30px;
    @media (max-width: 1480px) {
        padding: 0 20px;
    }
    @media (max-width: 600px) {
        padding: 0 15px;
    }
}

.btn-gradient {
    border-radius: 4px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 16px;
    &::before {
        content: "";
        background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 4px;
    }
    &::after {
        content: "";
        background: #fff;
        position: absolute;
        left: 1px;
        top: 1px;
        right: 1px;
        bottom: 1px;
        border-radius: 4px;
    }
    span {
        background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 16px;
        position: relative;
        z-index: 1;
        display: inline-flex;
        align-items: center;
        gap: 2px;
        .ic {
            background: url(images/graphics/bg-dotted.png) no-repeat;
            width: 18px;
            height: 18px;
            background-size: contain;
        }
    }
    &.video {
        &::before {
            background: linear-gradient(279deg, #68BBA0 0%, #007BBD 100%);
        }
        span {
            background: linear-gradient(279deg, #68BBA0 0%, #007BBD 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .ic {
                background: url(images/graphics/ic-video.png) no-repeat;
                background-size: contain;
            }
        }
    }
    &.comment {
        &::before {
            background: linear-gradient(279deg, #A0D9BA 0%, #2E8B57 100%);
        }
        span {
            background: linear-gradient(279deg, #A0D9BA 0%, #2E8B57 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            .ic {
                background: url(images/graphics/ic-thaoluan.png) no-repeat;
                background-size: contain;
            }
        }
    }
    @media (max-width: 600px) {
        padding: 0 10px;
        span {
            font-size: 13px;
        }
    }
}

.padding-line-bottom {
    border-bottom: 1px solid #dbe2df;
    padding: 20px 30px;
    @media (max-width: 1480px) {
        padding: 20px;
    }
}

.filter-control {
    position: static;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4px;
    border-radius: 4px;
    padding: 4px;
    background: #FEFEFE;
    color: #656867;
    transition: 0.2s all;
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        border: 1px solid #DBE2DF;
        border-radius: 4px;
        padding: 0 12px;
        color: #656867;
        font-size: 16px;
        font-weight: 300;
        transition: 0.2s all;
        &.active,
        &:hover {
            background: #F1F8F5;
            border: 1px solid #F1F8F5;
            color: var(--colormain);
        }
        &.ic {
            border: 0;
        }
    }
    @media (max-width: 600px) {
        position: sticky;
        z-index: 8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        &::-webkit-scrollbar {
            display: none;
        }
        &.sticky--active {
            margin-left: -15px;
            margin-right: -15px;
            border-radius: 0;
            padding: 10px 16px;
        }
    }
}

// END RESET LDP
.main-grid {
    display: flex;
    flex-wrap: wrap;
}

.main-right {
    width: calc(100% - 340px);
    position: relative;
    .img-bg {
        position: absolute;
        right: 0px;
        top: 0px;
        overflow: hidden;
        z-index: -1;
        img {
            transform: translate(45px, -65px);
        }
    }
    @media (max-width: 1480px) {
        width: calc(100% - 310px);
    }
    @media (max-width: 1025px) {
        width: calc(100% - 80px);
    }
    @media (max-width: 600px) {
        width: 100%;
        .img-bg {
            img {
                transform: translate(55px, -8px);
                max-width: 210px;
            }
        }
    }
}

.main-content {
    padding: 30px;
    margin-right: -30px;
    margin-bottom: 50px;
    border-radius: 16px 0px 0px 16px;
    overflow: hidden;
    background: #FBFDFC;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    .mr-ml {
        margin-left: -30px;
        margin-right: -30px;
    }
    .on-margin {
        margin: -30px -30px 20px -30px;
    }
    @media (max-width: 1480px) {
        padding: 20px;
        margin-right: -20px;
        .mr-ml {
            margin-left: -20px;
            margin-right: -20px;
        }
        .on-margin {
            margin: -20px -20px 20px -20px;
        }
    }
    @media (max-width: 600px) {
        margin-bottom: 30px;
        margin-right: 0;
        padding: 0;
        border-radius: 0;
        border: 0;
        box-shadow: none;
        background: none;
        .mr-ml {
            margin-left: 0px;
            margin-right: 0px;
        }
        .on-margin {
            margin: 0px 0px 20px 0px;
        }
    }
}

.countdown {
    display: flex;
    gap: 20px;
    .item_countdown {
        text-align: center;
        color: #023D28;
        font-weight: 300;
        position: relative;
        &::after {
            content: ":";
            position: absolute;
            top: 13px;
            right: -10px;
        }
        &:last-child::after {
            display: none;
        }
        .item_txt {
            span {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
    @media (max-width: 600px) {
        .item_countdown {
            &::after {
                right: -8px;
                top: 0px;
                font-weight: 700;
            }
            .item_txt {
                font-size: 12px;
                line-height: 1.5;
                span {
                    font-size: 16px;
                }
            }
        }
    }
}


.box-calendar-live {
    position: relative;
    .title {
        background: url(images/graphics/bg-dotted.png);
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        background-position: 0 0px;
        display: flex;
        align-items: center;
        span {
            font-size: 13px;
            font-weight: 300;
            background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .itemt {
        display: flex;
        align-items: center;
        gap: 6px;
        border-radius: 4px;
        border-bottom: 1px solid #FDE4BC;
        border-left: 1px solid #FDE4BC;
        font-size: 12px;
        font-weight: 300;
        .date {
            background: #FDE4BC;
            padding: 4px 6px;
            width: 32px;
            flex-shrink: 0;
            text-align: center;
            position: relative;
            &::before {
                content: "";
                background: #FF5E57;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                position: absolute;
                top: 4px;
                right: 4px;
            }
            .day {
                font-size: 14px;
                font-weight: 500;
                color: var(--colormain);
            }
        }
        .td {
            width: 100%;
            align-items: center;
            gap: 16px;
            p {
                margin-bottom: 0;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 18px;
                    right: -8px;
                    top: 50%;
                    margin-top: -9px;
                    background: linear-gradient(90deg, rgba(73, 245, 185, 0.00) 0%, rgba(6, 78, 51, 0.20) 50.48%, rgba(73, 245, 185, 0.00) 100%);
                }
                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
    .swiper-control {
        display: flex;
        gap: 6px;
        position: absolute;
        right: 0;
        top: 5px;
        .swiper-button-prev,
        .swiper-button-next {
            background: none;
            box-shadow: none;
            border: 0;
            width: 15px;
            height: 15px;
            position: static;
            font-size: 18px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 13px;
                height: 13px;
            }
        }
    }
    @media (max-width: 1025px) {
        .itemt {
            border: 1px solid #fde4bc;
        }
        .swiper-container {
            border: 1px solid #fde4bc;
            border-radius: 4px;
            .itemt {
                border: 0;
            }
        }
    }
    @media (max-width: 600px) {
        background: #fff;
        border-radius: 8px;
        padding: 8px;
        .swiper-control {
            right: 8px;
            top: 12px;
        }
    }
}

.calendar-live-folder {
    position: relative;
    background: #FEF6E9;
    border-bottom: 1px dashed #DBE2DF;
    padding: 30px;
    margin-bottom: 30px;
    .title {
        background: url(images/graphics/bg-dotted.png);
        background-repeat: no-repeat;
        padding: 3px 0 3px 30px;
        background-position: 0 0px;
        display: flex;
        gap: 10px;
        align-items: center;
        span {
            font-size: 14px;
            font-weight: 300;
            background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .swiper-control {
        display: flex;
        gap: 6px;
        .swiper-button-prev,
        .swiper-button-next {
            background: none;
            box-shadow: none;
            border: 0;
            width: 15px;
            height: 15px;
            position: static;
            font-size: 18px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #656867;
            opacity: 1;
            svg {
                width: 13px;
                height: 13px;
            }
        }
        .swiper-button-disabled {
            opacity: 0.4;
        }
    }
    .flex-box {
        display: flex;
        gap: 16px;
        .date {
            flex-shrink: 0;
            color: var(--colormain);
            font-size: 14px;
            text-align: center;
            .day {
                font-size: 16px;
                font-weight: bold;
            }
        }
        .swiper-container {
            width: 100%;
            width: calc(100% + 5px);
            padding-right: 5px;
            margin-right: -5px;
        }
    }
    .itemt {
        .wrap {
            color: #656867;
            font-size: 12px;
            font-weight: 300;
            cursor: pointer;
            position: relative;
            border-radius: 4px;
            border: 1px solid #DBE2DF;
            padding: 6px;
            height: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
            * {
                position: relative;
                z-index: 1;
            }
        }
        &::before {
            content: "";
            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='2' height='32' viewBox='0 0 2 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cline x1='1' y1='0.5' x2='1' y2='31.5' stroke='url(%23paint0_linear_7816_9256)' stroke-opacity='0.2' stroke-linecap='round'/%3e%3cdefs%3e%3clinearGradient id='paint0_linear_7816_9256' x1='0' y1='2.18557e-08' x2='1.39876e-06' y2='32' gradientUnits='userSpaceOnUse'%3e%3cstop stop-color='%2349F5B9' stop-opacity='0'/%3e%3cstop offset='0.504808' stop-color='%23064E33'/%3e%3cstop offset='1' stop-color='%2349F5B9' stop-opacity='0'/%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
            position: absolute;
            width: 2px;
            height: 32px;
            left: -9px;
            top: 7px;
        }
        .ic {
            font-size: 10px;
            flex-shrink: 0;
            background: url(images/graphics/dotted-black.png) no-repeat top;
            width: 21px;
            padding-top: 21px;
            text-align: center;
        }
        &.on {
            .wrap {
                color: var(--colormain);
                &::before {
                    content: "";
                    background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    border-radius: 4px;
                }
                &::after {
                    content: "";
                    background: #FEF6E9;
                    position: absolute;
                    left: 1px;
                    top: 1px;
                    right: 1px;
                    bottom: 1px;
                    border-radius: 4px;
                }
            }
            .ic {
                color: #F9A826;
                background: url(images/graphics/dotted-oranger.png) no-repeat top;
            }
        }
        &.live {
            .wrap {
                color: #fff;
                background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
            }
            .ic {
                background: url(images/graphics/dotted-white.png) no-repeat top;
            }
        }
    }
    @media (max-width: 1480px) {
        padding: 20px;
    }
    @media (max-width: 600px) {
        background: #fff;
        padding: 8px;
        border-bottom: 0;
        .title {
            span {
                font-size: 16px;
            }
        }
        .swiper-control {
            display: none;
        }
        .flex-box {
            flex-wrap: wrap;
            gap: 6px;
            .date {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 7px;
                font-size: 16px;
                .day {
                    font-weight: 400;
                }
            }
        }
        .swiper-wrapper {
            flex-wrap: wrap;
            height: auto;
            gap: 8px;
        }
        .itemt {
            .wrap {
                font-size: 14px;
            }
            .ic {
                font-size: 12px;
            }
        }
    }
}

.box-live-border {
    border-bottom: 3px solid var(--bg-main);
    margin-bottom: 30px;
    padding-bottom: 30px;
    @media (max-width: 600px) {
        border-bottom: 0;
        padding-bottom: 0;
        margin-bottom: 16px;
    }
}

.folder-grid {
    .main-left {
        @media (min-width: 601px) {
            width: 80px;
            padding: 0 16px 16px 16px;
            .header {
                padding: 16px 0 0 0;
            }
            .logo {
                margin-bottom: 30px;
                span {
                    display: none;
                }
            }
            .side-panel-scroll {
                padding-right: 0;
                padding-bottom: 30px;
                ul {
                    margin-bottom: 10px;
                    li {
                        padding: 0;
                        margin-bottom: 5px;
                        a {
                            padding: 0;
                            border-radius: 8px;
                            width: 48px;
                            height: 48px;
                            justify-content: center;
                            align-items: center;
                            font-size: 0;
                            gap: 0;
                            &::before {
                                display: none;
                            }
                        }
                        .number {
                            display: none;
                        }
                        &.active {
                            a {
                                background: #FEFEFE;
                            }
                        }
                    }
                    &:last-of-type {
                        margin-bottom: 0;
                        border-bottom: 0;
                    }
                }
                .footer {
                    display: none;
                }
            }
        }
    }
    .main-right {
        width: calc(100% - 80px);
        background: #fff;
        border-left: 1px solid #DBE2DF;
    }
    .topbar {
        border-bottom: 1px solid #DBE2DF;
        justify-content: space-between;
        .logo {
            margin-left: 0;
            display: flex;
            font-size: 20px;
            img {
                display: none;
            }
        }
        .my-notifi {
            color: #333;
        }
        .my-user {
            .login {
                .icon-svg {
                    display: none;
                }
            }
        }
    }
    @media (max-width: 600px) {
        .main-right {
            width: 100%;
            border-left: 0;
        }
        .topbar {
            .logo {
                margin-left: 40px;
                font-size: 16px;
                img {
                    display: block;
                }
            }
            .my-user {
                .login {
                    display: flex;
                    padding: 0;
                    font-size: 13px;
                    border: 0;
                    background: none;
                    font-size: 0;
                    .icon-svg {
                        width: 24px;
                        height: 24px;
                        display: block;
                    }
                }
            }
        }
    }
}

.main-detail {
    display: flex;
    &__left {
        width: 100%;
        padding: 20px 30px;
    }
    &__right {
        width: 480px;
        flex-shrink: 0;
        padding-bottom: 40px;
        border-left: 1px dashed #DBE2DF;
    }
    &__col1,
    &__col3 {
        width: 350px;
        background: #F9FCFA;
        flex-shrink: 0;
        padding-bottom: 40px;
        transition: 0.2s all;
        position: relative;
        .width-none {
            transition: 0.2s all;
        }
        .btn-menu,
        .btn-thaoluan {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 16px;
            font-weight: 500;
            color: #A674F8;
        }
        .padding-line-bottom {
            padding: 15px;
        }
        @media (min-width: 992px) {
            .padding-line-bottom {
                padding: 20px;
            }
            .list-mood {
                .itemt {
                    flex-wrap: wrap;
                    text-align: center;
                    span {
                        width: 100%;
                    }
                }
            }
            .input-comment {
                &::before {
                    top: 5px;
                }
                .form-control {
                    font-size: 14px;
                    height: 36px;
                }
                .send {
                    height: 36px;
                }
            }
            .list-comment {
                .itemt-comment {
                    font-size: 14px;
                    .name {
                        font-size: 14px;
                    }
                }
                .pagination {
                    margin-left: -20px;
                    margin-right: -20px;
                }
            }
        }
        @media (max-width: 991px) {
            .none-border {
                border-bottom: 0;
                padding: 15px 0;
            }
        }
    }
    &__col1 {
        border-right: 1px dashed #dbe2df;
    }
    &__col2 {
        padding: 30px;
        min-height: 90vh;
        width: 100%;
        background: #F1F8F5;
    }
    &__col3 {
        border-left: 1px dashed #dbe2df;
    }
    &.hidden-menu {
        @media (min-width: 992px) {
            .main-detail__col1 {
                width: 0px!important;
                height: 0;
                background: none!important;
                .btn-menu {
                    position: absolute;
                    left: -1px;
                    z-index: 2;
                    top: -1px;
                    font-size: 0;
                    width: 50px;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.80);
                    border-radius: 0px 8px 8px 0px;
                    border: 1px solid #DBE2DF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #656867;
                    .icon-svg {
                        margin-left: 3px;
                    }
                }
                .padding-line-bottom {
                    border-bottom: 0;
                    padding: 0;
                }
                .width-none {
                    opacity: 0;
                    overflow: hidden;
                }
            }
        }
    }
    &.hidden-thaoluan {
        @media (min-width: 992px) {
            .main-detail__col3 {
                width: 0px;
                height: 0;
                * {
                    font-size: 0!important;
                }
                .padding-line-bottom {
                    display: none;
                }
                .hidden-tablet {
                    display: block;
                }
                .btn-thaoluan {
                    position: absolute;
                    right: 0px;
                    z-index: 2;
                    top: -1px;
                    font-size: 0;
                    width: 50px;
                    height: 50px;
                    background: rgba(255, 255, 255, 0.80);
                    border-radius: 8px 0px 0px 8px;
                    border: 1px solid #DBE2DF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #656867;
                    .icon-svg {
                        margin-left: 5px;
                    }
                }
                .padding-line-bottom {
                    border-bottom: 0;
                    padding: 0;
                }
                .question-section,
                .list-ranking-detail {
                    display: none;
                }
                .slide-comment {
                    opacity: 0;
                    overflow: hidden;
                }
            }
        }
    }
    &.detail-tailieu {
        background: var(--bg-main);
        .main-detail__col1 {
            width: 200px;
        }
        .main-detail__col2 {
            margin-bottom: 40px;
        }
    }
    @media (max-width: 1480px) {
        &__left,
        &__col2 {
            padding: 20px;
        }
        &__right {
            width: 400px;
        }
    }
    @media (max-width: 1025px) {
        &__right {
            width: 350px;
            .padding-line-bottom {
                padding: 15px;
            }
        }
    }
    @media (max-width: 991px) {
        flex-wrap: wrap;
        &__right,
        &__col1,
        &__col3 {
            width: 100%;
            padding: 0;
            border-right: 0;
            border-left: 0;
        }
        &__col1 {
            order: 2;
            padding: 0 15px 20px 15px;
        }
        &__col2 {
            order: 1;
        }
        .hidden-tablet {
            display: none;
        }
    }
    @media (max-width: 600px) {
        &__left,
        &__col2 {
            padding: 15px;
        }
        &__col2 {
            padding: 20px 15px;
            min-height: auto;
            .mb30 {
                &:last-child {
                    margin-bottom: 0!important;
                }
            }
            .video-top {
                background: #F1F8F5;
                background: var(--bg-main);
                border-bottom: 1px solid #dbe2df;
                margin-top: -20px;
                margin-left: -15px;
                margin-right: -15px;
                .article-thumb {
                    order: 1;
                    border-radius: 0;
                }
                .article-content {
                    order: 2;
                    padding: 0 15px 15px 15px;
                }
            }
        }
        &.detail-tailieu {
            .main-detail__col1 {
                display: none;
            }
            .main-detail__col2 {
                .video-top {
                    border-bottom: 0;
                }
            }
        }
    }
}

.content-detail-file {
    max-width: 850px;
    margin: 0 auto;
}

.content-detail {
    max-width: 1140px;
    margin: 0 auto;
}

.content-folder {
    max-width: 1320px;
    margin: 0 auto;
}

.list-mood {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    .itemt {
        color: #656867;
        font-size: 16px;
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0 10px;
        img {
            width: 36px;
            flex-shrink: 0;
        }
    }
    @media (max-width: 1480px) {
        .itemt {
            gap: 4px;
            font-size: 14px;
            padding: 0 5px;
            img {
                width: 30px;
            }
        }
    }
    @media (max-width: 600px) {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        .itemt {
            border: 1px solid #DBE2DF;
            border-radius: 4px;
            height: 40px;
        }
    }
}


.header-course {
    .tab-btn {
        .comment {
            display: none;
        }
    }
    @media (max-width: 991px) {
        .grid-teacher-student {
            width: 100%;
        }
        .tab-btn {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 20px;
            row-gap: 20px;
            .comment {
                display: flex;
            }
        }
    }
    @media (max-width: 600px) {
        .grid-teacher-student {
            column-gap: 10px;
            row-gap: 10px;
            justify-content: space-between;
        }
        .tab-btn {
            column-gap: 10px;
            row-gap: 10px;
        }
    }
}

.grid-teacher-student {
    display: flex;
    column-gap: 30px;
    row-gap: 30px;
    .item {
        color: #858887;
        .top {
            font-size: 16px;
            color: #012518;
            display: flex;
            align-items: center;
            gap: 4px;
            .icon-svg {
                flex-shrink: 0;
                fill: #656867;
            }
        }
    }
}

.line-bar {
    width: 100%;
    position: relative;
    background: #F1F8F5;
    border-radius: 50px;
    height: 5px;
    border: 1px solid #DBE2DF;
    .percent {
        border-radius: 50px;
        background: linear-gradient(279deg, #A0D9BA 0%, #2E8B57 100%);
        position: absolute;
        height: 4px;
        top: 0;
    }
}

.list-folder {
    .itemt {
        background: #F1F8F5;
        border: 1px solid #DBE2DF;
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        img {
            flex-shrink: 0;
            width: 50px;
        }
    }
    @media (min-width: 1921px) {
        .grid__3 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (max-width: 600px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 12px;
            row-gap: 12px;
        }
        .itemt {
            font-size: 14px;
        }
    }
}

.list-file {
    .itemt {
        background: #FEFEFE;
        border: 1px solid #DBE2DF;
        padding: 12px;
        border-radius: 8px;
        font-size: 16px;
        .flexbox {
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            .ic {
                flex-shrink: 0;
                width: 40px;
            }
        }
        .view {
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 3px;
            font-weight: 300;
        }
        .tag {
            display: flex;
            gap: 4px;
            .td {
                font-size: 14px;
                padding: 6px 8px;
                border-radius: 2px;
                background: #F1F8F5;
                font-weight: 300;
                color: var(--colormain);
            }
        }
    }
    @media (min-width: 1921px) {
        .grid__3 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    @media (max-width: 600px) {
        .grid {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 12px;
            row-gap: 12px;
        }
        .itemt {
            font-size: 14px;
            .flexbox {
                .ic {
                    width: 30px;
                }
            }
            .mt15 {
                margin-top: 8px!important;
            }
        }
    }
}

.info-file {
    display: flex;
    gap: 30px;
    .ic {
        width: 150px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        border: 1px solid #DBE2DF;
        img {
            width: 70px;
        }
    }
    .content {
        width: 100%;
        .flexbox {
            column-gap: 30px;
            row-gap: 30px;
        }
    }
    ul {
        margin-bottom: 0;
        li {
            border-bottom: 1px solid #DBE2DF;
            display: flex;
            gap: 6px;
            align-items: center;
            font-size: 16px;
            margin-bottom: 16px;
            padding-bottom: 16px;
        }
    }
    @media (max-width: 600px) {
        display: block;
        .ic {
            display: none;
        }
        .content {
            .flexbox {
                display: block;
            }
        }
        ul {
            li {
                border-bottom: 0;
                margin-bottom: 15px;
                padding-bottom: 0;
            }
        }
    }
}

.filde-img {
    img {
        width: 100%;
    }
}



