@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend/Lexend-Medium.eot');
    src: url('fonts/Lexend/Lexend-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lexend/Lexend-Medium.woff2') format('woff2'),
        url('fonts/Lexend/Lexend-Medium.woff') format('woff'),
        url('fonts/Lexend/Lexend-Medium.ttf') format('truetype'),
        url('fonts/Lexend/Lexend-Medium.svg#Lexend-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend/Lexend-Regular.eot');
    src: url('fonts/Lexend/Lexend-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lexend/Lexend-Regular.woff2') format('woff2'),
        url('fonts/Lexend/Lexend-Regular.woff') format('woff'),
        url('fonts/Lexend/Lexend-Regular.ttf') format('truetype'),
        url('fonts/Lexend/Lexend-Regular.svg#Lexend-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('fonts/Lexend/Lexend-Light.eot');
    src: url('fonts/Lexend/Lexend-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Lexend/Lexend-Light.woff2') format('woff2'),
        url('fonts/Lexend/Lexend-Light.woff') format('woff'),
        url('fonts/Lexend/Lexend-Light.ttf') format('truetype'),
        url('fonts/Lexend/Lexend-Light.svg#Lexend-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

