.topbar {
    position: relative;
    z-index: 9;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: end;
    #vibeji-ham {
        width: 25px;
        height: 20px;
        position: absolute;
        left: 15px;
        top: 20px;
        transform: rotate(0);
        transition: .5s ease-in-out;
        cursor: pointer;
        display: none;
        margin-right: 0 !important;

        span {
            display: block;
            position: absolute;
            height: 2px;
            width: 100%;
            background: #656867;
            border-radius: 9px;
            opacity: 1;
            right: 0;
            transform: rotate(0);
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
                width: 100%;
            }

            &:nth-child(2) {
                top: 7px;
                width: 100%;
            }

            &:nth-child(3) {
                top: 14px;
                width: 100%;
            }
        }

        &.open {
            span {
                &:nth-child(1) {
                    top: 9px;
                    width: 100%;
                    transform: rotate(135deg);
                }

                &:nth-child(2) {
                    opacity: 0;
                    right: -30px;
                    width: 100%;
                }

                &:nth-child(3) {
                    top: 9px;
                    width: 100%;
                    transform: rotate(-135deg);
                }
            }
        }
    }    
    .logo {
        display: none;
        margin-bottom: 0;
        font: 600 16px/1.5 var(--font-main);
        color: var(--colormain);
        margin-left: 40px;
        a{
            display: flex;
            gap: 5px;
            align-items: center;
        }
        img {
            width: 40px;
            flex-shrink: 0;
        }

    }
    .my-notifi{
        color: #fff;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            right: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: #ff5e57;
        }
    }
    .my-user {
        display: flex;
        align-items: center;
        column-gap: 20px;
        row-gap: 20px;
    }
    .my-login {
        .ava {
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
    @media (max-width: 991px) {
        .my-user{
            column-gap: 12px;
            row-gap: 12px;  
        }
    }
    @media (max-width: 600px) {
        height: 60px;
        background: #ffffff;
        border-bottom: 1px solid #DBE2DF;
        justify-content: space-between;
        #vibeji-ham{
            display: block;
        }
        .logo{
            display: block;
        }
        .my-notifi{
            color: #333;
        }
        .my-user{          
            .btn-default{display: none;}
        }
        .my-login{
            .ava{
                img{
                    border: 0;
                }
            }
        }
    }
}
.menu-mobile{
    position: sticky;
    top: 0;
    z-index: 8;
    display: none;
    height: 60px;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    background: #fff;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;   
    &::-webkit-scrollbar{display: none;}
    a{
        font-weight: 500;
        color: #012B1C;
        height: 36px;
        display: flex;
        gap: 6px;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }
    .home{
        width: 40px;
        height: 40px;
        padding: 0;
        flex-shrink: 0;
        border-radius: 6px;
        background: #F1F8F5;
        margin-right: 12px;
    }
    @media (max-width: 600px) {
        display: flex;
    }
}
.main-left {
    width: 340px;
    flex-shrink: 0;
    padding-left: 30px;
    .side-panel {
        position: sticky;
        top: 0;
        height: 100vh;
        width: 100%;
    }
    .header {
        padding: 10px 0;
        position: relative;
        .close-menu{
            position: absolute;
            right: 15px;
            top:23px;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            background: #fff;
            display: none;
            justify-content: center;
            align-items: center;
            svg{
                width: 16px;
                height: 16px;
            }            
        }
    }
    .logo {
        display: flex;
        gap: 12px;
        align-items: center;
        font: 600 18px/1.5 var(--font-main);
        color: var(--colormain);
        img {
            width: 60px;
            flex-shrink: 0;
        }
    }
    .side-panel-scroll {
        height: calc(100vh - 90px);
        padding-right: 30px;
        padding-bottom: 50px;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-width: thin;
        scrollbar-color: #d0d0d0 #f9f9f9;
        &::-webkit-scrollbar {
            width: 7px;
            height: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 7px;
            background: #d0d0d0;
        }
        &::-webkit-scrollbar-track {
            background: #f9f9f9;
            border-radius: 7px;
        }
        ul {
            border-bottom: 1px solid #DBE2DF;
            li {
                margin-bottom: 8px;
                padding: 10px 0;
                border-radius: 8px;
                transition: .5s;
                position: relative;
                a {
                    font-weight: 500;
                    color: #012B1C;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    padding-left: 20px;
                    position: relative;
                    .ic {
                        width: 36px;
                        flex-shrink: 0;
                    }
                }
                .number {
                    position: absolute;
                    right: 0;
                    top: 10px;
                    font-size: 12px;
                    font-weight: 500;
                    width: 36px;
                    text-align: center;
                    border: 1px solid var(--colormain);
                    border-radius: 50%;
                    line-height: 28px;
                }
                &.active,
                &:hover {
                    background: linear-gradient(276deg, rgba(255, 255, 255, 0.00) 0%, #E3F1EC 90.88%);
                    transform: translateY(-4px);
                    a {
                        &::before {
                            content: "";
                            position: absolute;
                            background: var(--colormain);
                            width: 6px;
                            height: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
        @media (max-width: 1480px) {
            padding-right: 20px;
        }
        @media (max-width: 600px) {
            padding-right: 15px;
        }
    }
    @media (max-width: 1480px) {
        width: 310px;
        padding-left: 20px;
    }
    @media only screen and (max-width: 1025px) and (min-width: 601px) {
        width: 80px;
        padding: 0 16px 16px 16px;
        .header {
            padding: 16px 0 0 0;
        }
        .logo {
            margin-bottom: 30px;
            span{display: none;}
        }
        .side-panel-scroll{
            padding-right: 0;
            padding-bottom: 30px;
            ul{
                margin-bottom: 10px;
                li{
                    padding: 0;
                    margin-bottom: 5px;
                    a{
                        padding: 0;
                        border-radius: 8px;
                        width: 48px;
                        height: 48px;
                        justify-content: center;
                        align-items: center;
                        font-size: 0;
                        gap: 0;
                        &::before{display: none;}
                    }
                    .number{display: none;}
                    &.active{
                        a{
                            background: #FEFEFE;
                        }
                    }
                }
                &:last-of-type{
                    margin-bottom: 0;
                    border-bottom: 0;
                }
            }
            .footer{
                display: none;
            }
        }
    }
    @media (max-width: 600px) {
        background: #f1f8f5;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -100%;
        width: 100% !important;
        -webkit-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
        z-index: 1001;
        padding-left: 15px;
        &.open{
            left: 0;
        }  
        .header{
            background: #fff;
            margin-bottom: 15px;
            margin-left: -15px;
            padding: 6px 15px;
            .close-menu{display: flex;}
        } 
        .logo{
            margin-bottom: 0;
        } 
        .side-panel-scroll{
            .footer{
                .wrap{
                    border-radius: 0;
                    background: #4bfabf url(images/graphics/m_bg-footer.png) no-repeat center bottom;
                    padding: 12px 10px 130px 10px;
                    background-size: contain;
                }
                .grid__4{
                    grid-template-columns: repeat(4, 1fr);
                }
            }
        }    
    }
}