// RANKING
.page-ranking {
    position: relative;
    &::before {
        content: "";
        background: -webkit-linear-gradient(171deg, #F9A826 0%, #68BBA0 100%);
        background: linear-gradient(279deg, #F9A826 0%, #68BBA0 100%);
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 16px 0px 0px 16px;
    }
    &::after {
        content: "";
        background: linear-gradient(279deg, #FFF 0%, #E3F1EC 100%);
        position: absolute;
        left: 1px;
        top: 1px;
        right: 0;
        bottom: 1px;
        border-radius: 16px 0px 0px 16px;
    }
    .bg-wrap {
        position: relative;
        z-index: 1;
        margin: -30px;
        padding: 30px;
        @media (max-width: 1480px) {
            margin: -20px;
            padding: 20px;
        }
    }
    .header {
        font-size: 16px;
        b {
            font-size: 20px;
        }
        .btn-default {
            background: linear-gradient(99deg, #A6E3D4 0%, #68BBA0 100%);
            padding: 0 6px;
            height: 40px;
            font-size: 20px;
        }
    }
    .top-ranking {
        .grid-rank {
            align-items: end;
            display: flex;
            column-gap: 100px;
            row-gap: 100px;
        }
        .ranking {
            width: 55%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: end;
            position: relative;
            &::before {
                content: "";
                background: url(images/graphics/bg-rank.png) no-repeat;
                width: 1100px;
                height: 1100px;
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0px);
                margin-left: 12px;
                top: -330px;
                z-index: -1;
            }
            .top_1 {
                margin: 0 -1px;
            }
            .info {
                margin-bottom: 15px;
                color: var(--colormain);
                .ic-hc {
                    margin-bottom: 25px;
                    img {
                        width: 80px;
                    }
                }
                .name {
                    font-weight: 500;
                    font-size: 16px;
                    margin-bottom: 5px;
                }
                .nickname {
                    background: url(images/graphics/bg-nickname.png);
                    background-size: cover;
                    font-size: 12px;
                    margin-bottom: 18px;
                    padding: 6px 2px 4px 2px;
                }
                .score {
                    display: inline-flex;
                    gap: 3px;
                    height: 24px;
                    align-items: center;
                    justify-content: center;
                    padding: 0 5px;
                    font-size: 14px;
                    color: #fff;
                    border-radius: 4px;
                    background: linear-gradient(99deg, #A6E3D4 0%, #68BBA0 100%);
                    .ic-star {
                        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='16' viewBox='0 0 17 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.50491 12.4996L4.17845 14.7207L5.00491 10.0164L1.5 6.68511L6.33677 6.00065L8.5 1.7207L10.6632 6.00065L15.5 6.68511L11.9951 10.0164L12.8216 14.7207L8.50491 12.4996Z' stroke='%23F1F8F5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                        width: 16px;
                        height: 16px;
                        background-size: contain;
                    }
                }
            }
        }
        .list-ranking {
            width: 45%;
            ul {
                margin-bottom: 0;
                li {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    position: relative;
                    background: #F1F8F5;
                    padding: 8px 70px 8px 16px;
                    margin-bottom: 8px;
                    cursor: pointer;
                    transition: .5s;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    .number {
                        width: 20px;
                        height: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #DBE2DF;
                        border-radius: 50%;
                        color: #656867;
                        font-size: 14px;
                    }
                    .student {
                        display: flex;
                        gap: 6px;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
                        color: #656867;
                        .ic-hc {
                            width: 60px;
                            flex-shrink: 0;
                        }
                        .info {
                            width: 100%;
                        }
                        .name {
                            font-size: 16px;
                            color: #01170E;
                            margin-bottom: 6px;
                        }
                    }
                    .score {
                        position: absolute;
                        right: 16px;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 4px;
                        .ic-star {
                            background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.00491 12.482L3.67845 14.7031L4.50491 9.99881L1 6.66753L5.83677 5.98307L8 1.70312L10.1632 5.98307L15 6.66753L11.4951 9.99881L12.3216 14.7031L8.00491 12.482Z' stroke='%2301170E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                            width: 16px;
                            height: 16px;
                            background-size: contain;
                        }
                    }
                    &:hover {
                        transform: translateY(-4px);
                    }
                }
            }
        }
    }
    @media (max-width: 1480px) {
        .top-ranking {
            .grid-rank {
                column-gap: 30px;
                row-gap: 30px;
            }
        }
    }
    @media (max-width: 900px) {
        .grid-rank {
            flex-wrap: wrap;
            .ranking {
                width: 100%;
            }
            .list-ranking {
                width: 100%;
            }
        }
    }
    @media (max-width: 600px) {
        &::before,
        &::after {
            display: none;
        }
        .header {
            font-size: 14px;
            column-gap: 6px !important;
            row-gap: 6px !important;
            .btn-default {
                height: 36px;
                font-size: 16px;
            }
            b {
                font-size: 18px;
            }
        }
        .bg-wrap {
            padding: 0;
            margin: 0;
        }
        .top-ranking {
            .grid-rank {
                column-gap: 0px;
                row-gap: 0px;
                .ranking {
                    &::before {
                        top: -310px;
                    }
                }
                .list-ranking {
                    background: url(images/graphics/bg-listrank.png) no-repeat;
                    padding: 30px 12px 25px 12px;
                    background-size: contain;
                    background-position: top center;
                    margin-top: -50px;
                    z-index: 1;
                    position: relative;
                    ul {
                        position: relative;
                        z-index: 1;
                        li {
                            border-radius: 16px;
                        }
                    }
                    &::after {
                        content: "";
                        background: #fff;
                        position: absolute;
                        height: 100px;
                        width: 100%;
                        bottom: 0;
                        left: 0;
                    }
                }
            }
        }
    }
}

.list-top-course {
    position: relative;
    .title {
        font-size: 16px;
        font-weight: 300;
        color: #656867;
        margin-bottom: 15px;
    }
    .thumb_img {
        border-radius: 8px;
    }
    .swiper-control {
        display: flex;
        gap: 6px;
        position: absolute;
        right: 0;
        top: 3px;
        .swiper-button-prev,
        .swiper-button-next {
            background: none;
            box-shadow: none;
            border: 0;
            width: 15px;
            height: 15px;
            position: static;
            font-size: 18px;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            svg {
                width: 13px;
                height: 13px;
            }
        }
    }
}

.personal-goals {
    font-size: 16px;
    font-weight: 400;
    .col-md-7 {
        position: relative;
        padding-right: 60px;
        &::after {
            content: "";
            background: #DBE2DF;
            position: absolute;
            width: 1px;
            top: 0;
            right: 20px;
            height: 100%;
        }
    }
    .tips-top {
        line-height: 1.6;
        color: #656867;
    }
    .goals {
        .itemt {
            text-align: center;
            position: relative;
            &.itemt+.itemt {
                &::before {
                    content: "";
                    position: absolute;
                    width: 1px;
                    height: 100%;
                    background: #DBE2DF;
                    left: -10px;
                }
            }
            .ic-hc,
            .ic {
                margin-bottom: 10px;
            }
            .nickname {
                font-size: 14px;
                color: #656867;
            }
            .gray {
                color: #4E565C;
                opacity: 0.5;
            }
            .point {
                color: #4E565C;
                margin-top: 5px;
            }
        }
    }
    .history {
        column-gap: 30px;
        row-gap: 30px;
        .itemt {
            border: 1px solid #DBE2DF;
            padding: 16px;
            border-radius: 3px;
            position: relative;
            color: #4E565C;
            .number {
                font-size: 32px;
            }
            .ic {
                position: absolute;
                right: 16px;
                top: 16px;
            }
        }
    }
    .not-login {
        background: rgba(255, 255, 255, 0.40);
        padding: 12px;
        .title-cate,
        .ic {
            opacity: 0.5;
        }
        .color-gray {
            opacity: 0.6;
        }
        .history {
            .itemt {
                opacity: 0.6;
            }
        }
    }
    @media (max-width: 991px) {
        .col-md-7 {
            padding-right: 15px;
            &::after {
                right: 0px
            }
        }
        .goals {
            grid-template-columns: repeat(3, 1fr);
            .itemt {
                &:first-child {
                    grid-column: 3 span;
                }
                &:nth-child(2) {
                    &::before {
                        display: none;
                    }
                }
            }
        }
        .history {
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10px;
            row-gap: 10px;
            .itemt {
                padding: 10px;
                font-size: 14px;
                .number {
                    font-size: 30px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .txt-login {
            font-size: 14px;
        }
        .col-md-7 {
            margin-bottom: 20px;
            &::after {
                display: none;
            }
        }
        .col-md-5 {
            text-align: center;
        }
    }
    @media (max-width: 600px) {
        .goals {
            column-gap: 10px;
            row-gap: 20px;
            .itemt {
                padding: 0 2px;
                font-size: 14px;
                &.itemt+.itemt {
                    &::before {
                        left: -5px;
                    }
                }
            }
        }
    }
}

// END RANKING

.list-ranking-detail {
    padding: 20px 16px;
    background: #fff;
    .close-bxh {
        display: none;
    }
    .title-cate {
        border-bottom: 1px solid #DBE2DF;
        padding: 20px;
        margin: -20px -16px 20px -16px;
    }
    ul {
        margin-bottom: 0;
        li {
            display: flex;
            align-items: center;
            gap: 10px;
            position: relative;
            background: #F1F8F5;
            padding: 8px 70px 8px 16px;
            margin-bottom: 8px;
            border-radius: 8px;
            cursor: pointer;
            transition: .5s;
            &:last-child {
                margin-bottom: 0;
            }
            .number {
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #DBE2DF;
                border-radius: 50%;
                color: #656867;
                font-size: 14px;
            }
            .student {
                display: flex;
                gap: 6px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                color: #656867;
                .ic-hc {
                    width: 30px;
                    flex-shrink: 0;
                }
                .info {
                    width: 100%;
                    font-weight: 300;
                }
                .name {
                    font-size: 16px;
                    color: #01170E;
                    margin-bottom: 6px;
                    font-weight: 400;
                }
            }
            .score {
                position: absolute;
                right: 16px;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 4px;
                .ic-star {
                    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.00491 12.482L3.67845 14.7031L4.50491 9.99881L1 6.66753L5.83677 5.98307L8 1.70312L10.1632 5.98307L15 6.66753L11.4951 9.99881L12.3216 14.7031L8.00491 12.482Z' stroke='%2301170E' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                    width: 16px;
                    height: 16px;
                    background-size: contain;
                }
            }
            &:hover {
                transform: translateY(-4px);
            }
        }
    }
    @media (max-width: 991px) {
        &.fade-bottom {
            position: fixed;
            background: #fff;
            bottom: 0;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            z-index: 1002;
            padding: 24px 24px 16px 24px !important;
            width: 100%;
            border-top: 1px solid #dbe2df;
            opacity: 0;
            visibility: hidden;
            .close-bxh {
                display: block;
                position: absolute;
                right: 20px;
                top: 16px;
                svg {
                    width: 26px;
                    height: 26px;
                }
            }
            .title-cate {
                margin: -20px -24px 20px -24px;
                padding: 16px 24px;
            }
            ul {
                max-height: calc(100dvh - 155px);
                overflow-x: auto;
            }
            &.open {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media (max-width: 600px) {
        padding: 0 0 15px 0;
        background: none;
    }
}